name: ESP32 Toggle Test

on:
  push:
    branches: [main]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile and Upload Sender
        run: |
          .\arduino-cli.exe compile --fqbn esp32:esp32:esp32 sender/sender.ino
          .\arduino-cli.exe upload -p COM6 --fqbn esp32:esp32:esp32 sender/sender.ino

      - name: Compile and Upload Receiver
        run: |
          .\arduino-cli.exe compile --fqbn esp32:esp32:esp32 receiver/receiver.ino
          .\arduino-cli.exe upload -p COM6 --fqbn esp32:esp32:esp32 receiver/receiver.ino

      - name: Run Monitor
        run: |
          python monitor.py
