name: LED Toggle Test

on:
  push:
  pull_request:

jobs:
  build-flash-test:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show current directory
        run: pwd

      - name: List files
        run: dir

      - name: Update Arduino Core Index
        run: .\arduino-cli.exe core update-index

      - name: Install ESP32 Core
        run: .\arduino-cli.exe core install esp32:esp32

      - name: Run LED Toggle Batch Script
        run: .\led_toggle.bat
